.idea
.firebase
.runtimeconfig.json

*/node_modules
*/coverage-final.json

package-lock.json
firebase-debug.log
firestore-debug.log
ui-debug.log

client/build
functions/build

# gerrit hook
gerrit/.tox
gerrit/.coverage
*.pyc
__pycache__
