.idea
.firebase
.runtimeconfig.json

node_modules
*/node_modules
*/coverage-final.json

firebase-debug.log
firestore-debug.log
ui-debug.log

client/build

# gerrit hook
gerrit/.tox
gerrit/.coverage
*.pyc
__pycache__
