function isSigner() {
	return request.auth.token.email == resource.data.signer.email;
}

function isAdmin() {
	return request.auth.token.email in resource.data.admins || isSigner();
}

function onWhitelist() {
	return request.auth.token.email == resource.data.signer.email || isAdmin();
}

service cloud.firestore {
  match /databases/{database}/documents {
    match /agreements/{cla} {
      allow read: if request.auth != null && onWhitelist();
      allow update: if request.auth != null && isAdmin();
      allow create: if request.auth != null && request.auth.token.email == request.resource.data.signer.email;
      allow delete: if request.auth != null && isSigner();
    }
    match /addendums/{addendumId} {
      allow read: if true;
      allow create: if true;
      allow delete: if false;
      allow update: if false;
    }
  }
}
